:root {
  --principal-color: #ffeb3b;
  --principal-text-color: #000;
}
button.str-tab, button.list-tab, button.set-tab, button.dict-tab {
  border-bottom: none!important;
}
div.tabmanager-special {
  margin-top: 1em;
}
div.tabmanager-special > section {
  margin-top: 0;
}