:root {
  --principal-color: #2196F3;
  --principal-text-color: #fff;
}
button {
  width: 100%;
}
.output-cont {
  display: none;
  padding: 16px 1em;
  border-radius: 0.15em;
  color: #FFF;
  background: #272822;
}